.profileContent{
   height:100px;
   .imageSection{
      width:10%;
      .imageProfile{
         height:100px;
         border-radius: 100px !important;
      }
   }
   .detailProfile{
      width:50%;
   }
   .buttonSection{
      width:40%;
   }

}