.Showcase {
  h2 {
    width: 65%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  .showcase-wrapper {
    .filter {
      @include media-breakpoint-down(lg) {
        display: none;
      }

      .btn {
        &:focus {
          box-shadow: none;
        }
      }

      h5 {
        margin-bottom: 1.7rem;
      }
    }

    .projects {
      .search {
        @include media-breakpoint-down(lg) {
          width: 100% !important;
        }
      }
      .pagination {
        .page-item {
          .page-link {
            border: none;
          }
        }
      }
    }
  }
}
