.meet{
font-family: EB Garamond;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;
width: 258px;
height: 42px;
left: 64px;
top: 3199px;
padding-bottom: 60px;
}


.des-h2{

height: 36px;
// left: 602px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 30px;
padding-left: 50px;
margin-right: 20px;
color: #000000;
}
img{
width: 403px;
height: 414px;
}

p{
padding-bottom: 20px;
padding-top: 3S0px;
padding-left: 50px;
height: 130px;
font-family: Noto Sans;
font-style: normal;
font-size: 20px;
line-height: 28px;
}

.lori{
padding-top: 70px;
height: 20px;
padding-left: 50px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
}

.nior{
padding-top: 15px;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #999999;
padding-bottom: 50px;
}
