.Footer {
  .footer-top {
    .row {
      .footer-list {
        h4 {
          font-size: 56px;
        }

        li {
          font-size: 16px;
        }
      }
    }
  }

  .FAQ-link {
    color: $black;

    &:hover {
      color: $secondary;
    }
  }
}
